* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #0d1321;
    color: white;
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

input {
    outline: none;
    border: 1px solid black;
    width: 20%;
    padding: 0.6rem;
    border-radius: 0.2rem;
}

button {
    cursor: pointer;
    width: 10%;
    padding: 0.4rem;
    background-color: #41ead4;
    font-weight: bold;
    outline: none;
    border: 1px solid black;
    border-radius: 0.2rem;
}